@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
html, body {
  background-color: #1C2C3B;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
}

header .left-menu {
  display: flex;
}

header .left-menu .logo {
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

header .left-menu .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

header .left-menu .menu a {
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
  padding: 0 10px;
}

header .left-menu .menu a {
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
}

header .right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .right-menu .language {
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
  padding: 0 60px 0 0;
  text-transform: uppercase;
  font-weight: 300;
}

header .right-menu .signin {
  background: #0C7DD3;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  font-size: .85rem;
  text-transform: uppercase;
  font-weight: 700;
}

#featured .videos-section {
  display: grid;
  grid-template-columns: 1fr 2fr 620px 2fr 1fr;
  grid-gap: 10px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.container {
  padding: 50px 0;
}

.container h1 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

#featured .videos-section .video {
  display: flex;
  align-items: center;
  justify-content: center;
}

#featured .videos-section .video .image {
  width: 100%;
  height: 300px;
  background-image: url(https://cdn3.dualshockers.com/wp-content/uploads/2019/12/nioh-2-gameplay-battle-anegawa-stage-boss.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#featured .videos-section .video.center {
  width: 100%;
  height: 349px;
  background-color: red;
}

#featured .videos-section .video.center .image {
  width: 100%;
  height: 349px;
  background-image: url(https://i1.wp.com/factschronicle.com/wp-content/uploads/2019/05/COD-MOBILE-PREVIEW_06.jpg?resize=1024%2C576&ssl=1);
  transform: scale(1.05);
  border: 2px solid #00c0f0;
}

#featured .videos-section .circles {
  display: flex;
}

#featured .videos-section .video:nth-child(1) .image, #featured .videos-section .video:nth-child(5) .image {
  position: relative;
}

#featured .videos-section .video:nth-child(1) .image .arrow {
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#featured .videos-section .video:nth-child(5) .image .arrow {
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  right: 0;
}

#featured .videos-section .video:nth-child(1) .image .arrow .fa, #featured .videos-section .video:nth-child(5) .image .arrow .fa {
  font-size: 1.5rem;
  color: #00c0f0;
}